
<% include partials/header %>
<div class="container">
  <h2> SCHEMAS </h2>
  
  <div class="container">
      <a  class="btn btn-primary btn-block" href="/Animal"  role="button"> Animal</a>
  </div>
  
  <div class="container">
  <a  type="button" class="btn btn-primary btn-block" href="/description" role="button"> Description</a>
  </div>
  
  <div class="container">
  <a href="/trainer" type="button" class="btn btn-primary btn-block" role="button"> Trainer</a>
  </div>
  
  <div class="container">
  <a href="/sponsor" type="button" class="btn btn-primary btn-block " role="button"> Sponsor</a>
  </div>
  
</div>
<% include partials/footer %>