
<% include partials/header %>
<style>
  body
  {
  background: url(http://www.sciencekids.co.nz/images/pictures/animals/youngkoala.jpg);
	background-size: cover;

	background-position: center;
  }
</style>

<div class="jumbotron" >
  <div class="container" >
    <h1>Aqua Zoo World</h1> 
    <p> World's most famous Animal and Aquatic zoo</p> 
  </div>
</div>