<% include partials/header %>

 <div class = "container"> 
 
      <header >
        <div class = "panel panel-primary">
         <div class = "panel-heading">
             <h3 class = "panel-title">Animals</h3>
        </div>
        </div>
     </header>

    <div class = "row" style ="display:flex; flex-wrap:wrap;">
        <% Animal.forEach(function(Animal){ %>
                    <div class = "col-md-3 col-sm-6">
                      <ul>
                           <div class = "thumbnail" class = "Pagination">
                            <img src = "<%= Animal.image %>">
                            <div class = "caption">
                              <ul> <a href="/Animals/<%= Animal._id %>"> <%= Animal.commonname %> </a> </ul>
                            </div>
                           </div> 
                      </ul>
                    </div>
           <% }); %>
   </div>
  </div>
  
  
  
<% include partials/footer %>